{# 用户中心-3个页面 #}
{% extends 'base_no_cart.html' %}
{% block title %}DailyFresh-ユーザーセンター{% endblock title %}
{% block page_title %}ユーザーセンター{% endblock page_title %}
{% block body %}
    <div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>ユーザーセンター</h3>
			<ul>
				<li><a href="{% url 'user:user' %}" {% if page == 'user' %}class="active"{% endif %}>· 個人情報</a></li>
				<li><a href="{% url 'user:order' 1 %}" {% if page == 'order' %}class="active"{% endif %}>· オーダー</a></li>
				<li><a href="{% url 'user:address' %}" {% if page == 'addr' %}class="active"{% endif %}>· 郵送住所</a></li>
			</ul>
		</div>
        {# 用户中心-右侧内容块 #}
		{% block right_content %}{% endblock right_content %}
	</div>
{% endblock body %}tle %}