{# 首页 注册 登录 #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load staticfiles %}
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    {# 网页标题内容块 #}
	<title>{% block title %}{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	{# 网页顶部引入文件块 #}
    {% block topfiles %}{% endblock topfiles %}
</head>
<body>
{# 网页顶部欢迎信息块 #}
{% block header_con %}
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">DailyFreshにようこそ!</div>
			<div class="fr">
                {% if user.is_authenticated %}
				<div class="login_btn fl">
					ようこそ：<em>{{ user.username }}</em>様
                    <span>|</span>
					<a href="{% url 'user:logout' %}">ログアウト</a>
				</div>
                {% else %}
				<div class="login_btn fl">
					<a href="{% url 'user:login' %}">ログイン</a>
					<span>|</span>
					<a href="{% url 'user:register' %}">新規登録</a>
				</div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'user:user' %}">ユーザーセンター</a>
					<span>|</span>
					<a href="{% url 'cart:show' %}">買い物かご</a>
					<span>|</span>
					<a href="{% url 'user:order' 1 %}">マイオーダー</a>
				</div>
			</div>
		</div>
	</div>
{% endblock header_con %}

{# 网页顶部搜索框块 #}
{% block search_bar %}
	<div class="search_bar clearfix">
		<a href="{% url 'goods:index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
		<div class="search_con fl">
            <form method="get" action="/search">
                <input type="text" class="input_text fl" name="q" placeholder="商品検索">
                <input type="submit" class="input_btn fr" name="" value="検索">
            </form>
		</div>
		<div class="guest_cart fr">
			<a href="{% url 'cart:show' %}" class="cart_name fl">買い物かご</a>
			<div class="goods_count fl" id="show_count">{{ cart_count }}</div>
		</div>
	</div>
{% endblock search_bar %}

{# 网站主体内容块 #}
{% block body %}{% endblock body %}

	<div class="footer">
		<div class="foot_link">
			<a href="http://k.2zzy.com">About Me</a>
			<span>|</span>
			<a href="http://k.2zzy.com">問い合わせ</a>
			<span>|</span>
			<a href="http://k.2zzy.com">採用情報</a>
			<span>|</span>
			<a href="http://k.2zzy.com">Links</a>
		</div>
		<p>CopyRight © 2019 株式会社ディレイフレッシュー All Rights Reserved</p>
		<p>電話：020-****888    東京都新宿区５－８－８</p>
	</div>
    {# 网页底部html元素块 #}
    {% block bottom %}{% endblock bottom %}
    {# 网页底部引入文件块 #}
	{% block bottomfiles %}{% endblock bottomfiles %}
</body>
</html>