<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load staticfiles %}
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>DailyFresh-ログイン</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
	<div class="login_top clearfix">
		<a href="{% url 'goods:index' %}" class="login_logo"><img src="{% static 'images/logo02.png' %}"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">新鮮は大事</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>ログイン</h1>
					<a href="{% url 'user:register' %}">新規登録</a>
				</div>
				<div class="form_input">
                    {#  不设置表单的action时,提交表单的时候,地址就是当前访问的地址提交数据 #}
					<form method="post">
                        {% csrf_token %}
						<input type="text" name="username" class="name_input"  value="{{ username }}" placeholder="ユーザー名を入力してください">
						<div class="user_error">入力エラー</div>
						<input type="password" name="pwd" class="pass_input" placeholder="パスワードを入力してください">
						<div class="pwd_error">入力エラー</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="remember"{{ checked }}>
							<label>IDを保存する</label>
							<a href="#">パスワードを忘れた場合</a>
						</div>
						<input type="submit" name="" value="登录" class="input_submit">
					</form>

				</div>
			</div>
		</div>
	</div>
 {{ errmsg }}
	<div class="footer no-mp">
        <div class="foot_link">
			<a href="http://k.2zzy.com">About Me</a>
			<span>|</span>
			<a href="http://k.2zzy.com">問い合わせ</a>
			<span>|</span>
			<a href="http://k.2zzy.com">採用情報</a>
			<span>|</span>
			<a href="http://k.2zzy.com">Links</a>
		</div>
		<p>CopyRight © 2019 株式会社ディレイフレッシュー All Rights Reserved</p>
		<p>電話：020-****888    東京都新宿区５－８－８</p>
	</div>
	
</body>
</html>