{% extends 'base_user_center.html' %}
{% block right_content %}
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本情報</h3>
						<ul class="user_info_list">
							<li><span>ID：</span>{{ user.username }}</li>
                            {% if address %}
                                <li><span>連絡先：</span>{{ address.phone }}</li>
                                <li><span>住所：</span>{{ address.addr }}</li>
                            {% else %}
                                <li><span>連絡先：</span>無</li>
							    <li><span>住所：</span>無</li>
                            {% endif %}
						</ul>
				</div>
				
				<h3 class="common_title2">閲覧履歴</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">
                        {% for goods in goods_li %}
				        <li>
                            <a href="{% url 'goods:detail' goods.id %}"><img src="{{ goods.image.url }}"></a>
                            <h4><a href="{% url 'goods:detail' goods.id %}">{{ goods.name }}</a></h4>
                            <div class="operate">
                                <span class="prize">￥{{ goods.price }}</span>
                                <span class="unit">{{ goods.price }}/{{ goods.unite }}</span>
                                <a href="#" class="add_goods" title="商品をかごに追加"></a>
                            </div>
                        </li>
                        {% empty %}
                            閲覧履歴なし
                        {% endfor %}
			        </ul>
		        </div>
		</div>
{% endblock right_content %}
